.pageHero {
    background: linear-gradient(var(--gradient-end), var(--gradient-start));
    height: fit-content;
    color: var(--whiteText);

    .heroWrapper {
        display: flex;
        position: relative;
        padding-top: 180px;
        gap: 100px;

        .heroContent {
            height: fit-content;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-block: auto;
            gap: 14px;
            position: relative;
            z-index: 2;
            width: 100%;

            .titleH1 {
                font-size: 40px;
                line-height: 1.2;
                font-weight: 600;
                letter-spacing: 1px;
                background: linear-gradient(90deg, #FFFFFF, #6B97FF);
                background-clip: text;
                color: transparent;
                opacity: 1;


            }

            .descriptionText {
                font-size: 16px;
                line-height: 1.6;
                font-weight: 300;
                color: #C0E6FF;
                opacity: 1;

                span {
                    color: var(--whiteText);
                }

            }

            .counters{
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                margin-top: 50px;
                
                .achievement{
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    padding: 16px 24px;

                    .counter{
                        font-size: 40px;
                        font-weight: 400
                    }
                }
                .divider{
                    width: 1px;
                    height: auto;
                    padding-block: 30px;
                    background-color: #FFFFFF55;
                }
            }
        }

        .featureImage {
            width: 100%;
            height: 40svh;
            max-height: 450px;
            display: flex;
            justify-content: flex-end;

            img {
                width: 100%;
                height: auto;
                clip-path: polygon(20% 0%, 100% 0%, 80% 100%, 0% 100%);
                object-fit: cover;
            }
        }
    }
}

.aboutUs{
    padding-block: 100px;

    .aboutWrapper{
        display: grid;
        grid-template-columns: 1fr 2fr;

        .aboutTitle{
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 24px;

            & h2{
                font-size: 46px;
                font-weight: 300;
                line-height: 1.2;
                color: var(--primary-color);
                width: 90%;
            }

            & img{
                width: 100%;
                height: auto;
                aspect-ratio: 1;
                max-width: 350px;
            }
        }
        .aboutDescritption{
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 24px;

            & p{
                font-size: 16px;
                line-height: 1.6;
                font-weight: 300;
                color: #111;
                opacity: 1;
                width: 80%;
            }
        }
    }
}

.visionMission{
    .sectionWrapper{
        display: flex;
        gap: 50px;
        
        .missionCard{
            background: var(--primary-color);
            color: var(--whiteText);
            padding: 50px;
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            gap: 30px;

            .cardTitle{
                font-size: 30px;
                font-weight: 600;
            }
            .missionText{
                font-size: 16px;
                font-weight: 300;
                line-height: 1.5;
            }
        }
    }
}

.cta {
    padding-block: 50px;
    background: url('assets/imgs/service-bg.png');

    .recordWrapper {
        display: flex;
        flex-direction: column;
        gap: 50px;
        justify-content: space-between;
        align-items: center;
        padding-block: 100px;

        .sectionTitle {
            .titleH2 {
                font-size: 30px;
                font-weight: 300;
                line-height: 1.2;
            }
        }
        .counterCards{
            display: flex;
            width: 100%;

            .achievement {
                display: flex;
                flex-direction: column;
                gap: 10px;
                width: 100%;
                justify-content: center;
    
                .counter {
                    font-size: 40px;
                    font-weight: 600;
                    line-height: 1.2;
                    color: var(--primary-color);
                    text-align: center;
                }
    
                .achievementText {
                    font-size: 20px;
                    font-weight: 300;
                    text-align: center;
                }
            }
        }
    }
}

@media (max-width: 500px) {
    .heroWrapper{
        padding-top:120px !important;
        padding-bottom:50px !important;
        gap:50px !important;
        flex-direction: column-reverse;
        .heroContent{
            .counters{
                flex-direction: column;
                margin-top: 30px !important;
                padding-bottom: 50px;
                
                .achievement{
                    width: 100%;
                    justify-content: center;
                    padding-left: 0px !important;
                }
                .divider{
                    display: none;
                }
                
            }
        }
        .featureImage{
            img{
                clip-path: none !important;
            }
        }
    }
    .aboutUs {
        padding-block: 50px;
        .aboutWrapper{
            grid-template-columns: 1fr;
            gap: 50px;

            & .aboutTitle {
                & h2 {
                    width: 100%;
                }
            }
            & .aboutDescritption {
                & p {
                    width: 100%;
                }
            }
        }
    }
    .visionMission{    
            .sectionWrapper{
                flex-direction: column;
            }
    }
    .cta {
        .recordWrapper {
            padding-block: 50px;

            .counterCards {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 24px;
            }
        }
        .ctaWrapper{
            padding: 50px;

            .titleH2 {
                text-align: center;
            }
        }
    }
}