.pageHero {
    background: linear-gradient(var(--gradient-end), var(--gradient-start));
    height: fit-content;
    color: var(--whiteText);

    .heroWrapper {
        display: flex;
        position: relative;
        padding-top: 180px;
        gap: 100px;

        .heroContent {
            height: fit-content;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-block: auto;
            gap: 14px;
            position: relative;
            z-index: 2;
            width: 100%;

            .titleH1 {
                font-size: 40px;
                line-height: 1.2;
                font-weight: 600;
                letter-spacing: 1px;
                background: linear-gradient(90deg, #FFFFFF, #6B97FF);
                background-clip: text;
                color: transparent;
                opacity: 1;


            }

            .descriptionText {
                font-size: 16px;
                line-height: 1.6;
                font-weight: 300;
                color: #C0E6FF;
                opacity: 1;

                span {
                    color: var(--whiteText);
                }

            }
        }

        .featureImage {
            width: 100%;
            height: 40svh;
            max-height: 450px;
            display: flex;
            justify-content: flex-end;

            img {
                width: 100%;
                height: auto;
                clip-path: polygon(20% 0%, 100% 0%, 80% 100%, 0% 100%);
                object-fit: cover;
            }
        }
    }
}

.devideSection {
    padding-block: 50px;
}

.serviceSection {
    .services-tabs {
        width: 25%;
        background: #fff;
        padding: 36px 24px 24px 0px;
        border-right: 1px solid #ececec;
        display: flex;
        flex-direction: column;
        gap: 36px;

        h2 {
            font-size: 46px;
                font-weight: 300;
                line-height: 1.2;
                color: var(--primary-color);
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                font-size: 1.12rem;
                padding: 12px 0;
                color: #3250a8;
                cursor: pointer;
                transition: all 0.18s;
                opacity: 0.5;
                font-weight: 400;


                &.active {
                    font-weight: 700;
                    opacity: 1;
                }
            }
        }
    }

    .services-content {
        flex: 1;

        .tab-pane {
            display: none;

            &.active {
                display: block;
            }
            .serviceContent{
                width: 70%;
                margin-left: auto;
                .service-info p {
                    margin-bottom: 18px;
                    font-size: 1rem;
                    color: var(--fontColor);
                }
                .sector-expertise {
                    h4 {
                        margin-bottom: 4px;
                        color: var(--fontColor);
                        font-size: 1.08rem;
                    }
                    p {
                        margin-bottom: 28px;
                        color: var(--fontColor);
                    }
                }
            }
            
            .services-cards {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 28px;

                .card {
                    flex: 1 1 0px;
                    background: var(--whiteText);
                    padding: 24px 20px 20px 20px;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;

                    .card-icon {
                        display: flex;
                        align-items: center;
                        font-size: 32px;
                        margin-bottom: 12px;
                        gap: 20px;

                        img{
                            padding: 10px;
                            border: 1px solid #C7C7C7;
                            border-radius: 10px;
                        }
                        
                        h5 {
                            margin: 0 0 8px 0;
                            color: var(--fontColor);
                            font-size: 24px;
                            font-weight: 400;
                        }
                    }
                    
                    p {
                        color: #5e6781;
                        font-size: 1rem;
                        margin: 0;
                    }
                }
            }
        }
    }

    /* Responsive styles */
    @media (max-width: 900px) {
        .services-container {
            flex-direction: column;
        }

        .services-tabs {
            width: 100%;
            border-right: none;
            border-bottom: 1px solid #ececec;
            padding-bottom: 0;
        }

        .services-content {
            padding: 24px 16px;
        }

        .services-cards {
            flex-direction: column;
            gap: 18px;
        }
    }
}


@media (max-width: 500px) {
    .heroWrapper{
        padding-top:120px !important;
        gap:50px !important;
        flex-direction: column-reverse;
        padding-bottom: 50px;

        .heroContent{
            .counters{
                flex-direction: column;
                margin-top: 30px !important;
                padding-bottom: 50px;
                
                .achievement{
                    width: 100%;
                    justify-content: center;
                    padding-left: 0px !important;
                }
                .divider{
                    display: none;
                }
                
            }
        }
        .featureImage{
            img{
                clip-path: none !important;
            }
        }
    }
    .devideSection{
        padding-block: 20px;
    }
    .serviceSection{
        .services-tabs {
            gap: 10px;
        }
        .services-content {
            margin-top: 0 !important;
            padding: 24px 0px;

            & .tab-pane {
                .serviceContent {
                    width: 100%;
                    height: fit-content !important;
                }
                .services-cards {
                    grid-template-columns: 1fr;

                    .card {
                        padding: 0;
                    }
                }
            }
        }

        
    }
}