.pageHero {
    background: linear-gradient(var(--gradient-end), var(--gradient-start));
    height: fit-content;
    color: var(--whiteText);

    .heroWrapper {
        display: flex;
        position: relative;
        padding-top: 180px;
        gap: 100px;

        .heroContent {
            height: fit-content;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-block: auto;
            gap: 14px;
            position: relative;
            z-index: 2;
            width: 100%;

            .titleH1 {
                font-size: 40px;
                line-height: 1.2;
                font-weight: 600;
                letter-spacing: 1px;
                background: linear-gradient(90deg, #FFFFFF, #6B97FF);
                background-clip: text;
                color: transparent;
                opacity: 1;


            }

            .descriptionText {
                font-size: 16px;
                line-height: 1.6;
                font-weight: 300;
                color: #C0E6FF;
                opacity: 1;

                span {
                    color: var(--whiteText);
                }

            }
        }

        .featureImage {
            width: 100%;
            height: 40svh;
            max-height: 450px;
            display: flex;
            justify-content: flex-end;

            img {
                width: 100%;
                height: auto;
                clip-path: polygon(20% 0%, 100% 0%, 80% 100%, 0% 100%);
                object-fit: cover;
            }
        }
    }
}

.teamTitleSection {
    padding-block: 50px 20px;

    p{
        font-size: 30px;
    }
}

.teamSection {
    padding-bottom: 50px;
    .teamWrapper{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;

        .teamCard{
            display: flex;
            flex-direction: column;
            gap: 16px;

            .promoterIntro{
                display: flex;
                justify-content: space-between;

                .name{
                    font-size: 20px;
                    font-weight: 400;
                }
                .designation{
                    font-size: 16px;
                    font-weight: 400;

                    &.neonText{
                        color: #00ACFB;
                    }
                }
            }
            .divider{
                width: 100%;
                height: 1px;
                background: #DDDDDD;
            }
            .educationDetails, .experience{
                display: flex;
                flex-direction: column;
                gap: 16px;

                ul{
                    list-style: none;
                    display: flex;
                    flex-direction: column;
                    margin: 0;
                    padding: 0;
                    gap: 16px;

                    li{
                        display: flex;
                        flex-direction: column;
                        gap: 6px;

                        &.description, .description{
                                color: #2E2E2E;
                                font-size: 16px;
                            }
                        .blueText{
                            color: #21459C;
                            font-weight: 600;
                        }
                        .neonText{
                            color: #00ACFB;
                        }

                        .list{
                            display: flex;
                            flex-direction: column;
                            gap: 10px;
                            margin-top: 10px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 500px) {
    .heroWrapper{
        padding-top:120px !important;
        gap:50px !important;
        flex-direction: column-reverse;
        padding-bottom: 50px;

        .heroContent{
            .counters{
                flex-direction: column;
                margin-top: 30px !important;
                padding-bottom: 50px;
                
                .achievement{
                    width: 100%;
                    justify-content: center;
                    padding-left: 0px !important;
                }
                .divider{
                    display: none;
                }
                
            }
        }
        .featureImage{
            img{
                clip-path: none !important;
            }
        }
    }
    .teamSection {
        .teamWrapper {
            display: flex;
            flex-direction: column;
        }
    }
}