.process{
    position: relative;
    position: sticky;
    top: 100px;
    height: 400vw; /* 4 cards * 100vw each */
    width: 100vw;

    .processWrapper{
        display: flex;
        flex-direction: column;
        gap: 40px;
        position: relative;

        .sectionTitle{
            .titleH2{
                font-size: 46px;
                font-weight: 300;
                line-height: 1.2;
                color: var(--primary-color);
            }
        }

        .processCards {
            /* position: relative;
            margin: 0 auto;
            display: flex;
            align-items: center;
            width: 100%;
            gap: 50px; */
            
            position: relative;
            display: flex;
            gap: 50px;
            width: 100%;
            height: 100vh; /* One viewport segment per card */
            align-items: center;
            justify-content: center;

            .card{
                display: flex;
                width: 400px;
                flex-direction: column;
                transition: all 0.3s ease;
                padding-right: 60px;
                gap: 36px;
                transition: all 0.3s ease;
                opacity: 0.2;

                .cardIcon{
                    color: var(--primary-color);
                    background: transparent;
                    border: 1px solid var(--primary-color);
                    border-radius: 9in;
                    width: fit-content;
                    padding: 6px;
                    aspect-ratio: 1;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: all 0.3s ease;   
                    
                    &.fade-in {
                        opacity: 1;
                        transition: opacity 0.4s;
                    }
                }

                .cardDetails{
                    display: flex;
                    flex-direction: column;
                    gap: 18px;

                    .cardTitle{
                        font-size: 24px;
                        font-weight: 400;
                        line-height: 1.2;
                        color: var(--primary-color);
                        transition: all 0.3s ease;                    
                    }

                    .cardText{
                        font-size: 16px;
                        font-weight: 300;
                        line-height: 1.5;
                        color: var(--fontColor);
                        transition: all 0.3s ease;                    
                    }
                }
            }
        }
        .cardProcess{
            background: var(--primary-color);
            width: 64px;
            height: 64px;
            border-radius: 9in;
            display: flex;
            align-items: center;
            justify-content: center;
            
            position: absolute;
            top: 165px;
            left: 0; 
            transition: all 0.4s cubic-bezier(.42,0,.58,1);
            z-index: 10;
  pointer-events: none;
        }
    }
}

/* <section class="process">
            <div class="container-main">
                <div class="processWrapper">
                    <div class="sectionTitle">
                        <h2 class="titleH2">Our Process</h2>
                    </div>
                    <div class="cardProcess">
                        <img src="assets/svgs/procces-icon05.svg" alt="Timeline">
                    </div>
                    <div class="processCard">
                        <div class="card firstCard">
                            <div class="cardIcon">
                                <img src="assets/svgs/procces-icon01.svg" alt="Process Step 1">
                            </div>
                            <div class="cardDetails">
                                <h3 class="cardTitle">Consultation & Case <br>Evaluation</h3>
                                <p class="cardText">We begin with an initial consultation through phone, email, or our
                                    website. Our team listens carefully to understand your legal needs and goals. We
                                    outline possible strategies, timelines, and fees to help you make an informed
                                    decision.</p>
                            </div>
                        </div>
                    </div>
                    <div class="processCard">
                        <div class="card secondCard">
                            <div class="cardIcon">
                                <img src="assets/svgs/procces-icon02.svg" alt="Process Step 2">
                            </div>
                            <div class="cardDetails">
                                <h3 class="cardTitle">Engagement & <br>Onboarding</h3>
                                <p class="cardText">After you decide to proceed, we formalize the engagement with a
                                    clear agreement. A dedicated legal professional is assigned to your case for smooth
                                    coordination. We collect the required documents and establish secure communication
                                    for updates.</p>
                            </div>
                        </div>
                    </div>
                    <div class="processCard">
                        <div class="card thirdCard">
                            <div class="cardIcon">
                                <img src="assets/svgs/procces-icon03.svg" alt="Process Step 3">
                            </div>
                            <div class="cardDetails">
                                <h3 class="cardTitle">Research & Strategy <br>Development</h3>
                                <p class="cardText">After you decide to proceed, we formalize the engagement with a
                                    clear agreement. A dedicated legal professional is assigned to your case for smooth
                                    coordination. We collect the required documents and establish secure communication
                                    for updates.</p>
                            </div>
                        </div>
                    </div>
                    <div class="processCard">
                        <div class="card fourthCard">
                            <div class="cardIcon">
                                <img src="assets/svgs/procces-icon04.svg" alt="Process Step 4">
                            </div>
                            <div class="cardDetails">
                                <h3 class="cardTitle">Action & <br>Representation</h3>
                                <p class="cardText">Once the strategy is finalized, we begin preparing documents,
                                    filings, and legal submissions. Our team represents you before authorities and keeps
                                    you updated throughout. Every action is handled professionally and in your best
                                    interest.</p>
                            </div>
                        </div>
                    </div>

                    
                </div>
            </div>
        </section> */