@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --primary-color: #21459C;
    --secondary-color: #00B256;
    --fontColor:#0A121A;
    --whiteText: #FFFFFF;
    --primaryAccent: #E7EEFF;
    --gradient-start: #002173;
    --gradient-end: #1F439A;
}

body{
    font-family: 'Inter', sans-serif;
    color: var(--fontColor);
    text-decoration:none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

::-webkit-scrollbar{
    width: 0;
}

h1,h2,h3,h4,h5,h6,p,a,span,div{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.counter .count {
  display: inline-block;
  transition: transform 0.2s;
}

.container-main{
    width: min(1440px, calc(100% - 40px));
    margin-inline: auto;
}

.container-full{
    width: calc(100% - 40px);
    margin-inline: auto;
}

.header{
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 999999;

    &::after{
        position: absolute;
        content: '';
        height: 48px;
        width: 100vw;
        left: 0;
        top: 0;
        background: linear-gradient(var(--gradient-start),var(--gradient-end));
        z-index: -1;
    }

    .subHeader{
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: var(--whiteText);
        max-height: 48px; /* Adjust as needed based on subHeader's full height */
        overflow: hidden;
        transition: all 0.3s ease;
        border-bottom: 1px solid #ffffff22;

        .socialIcons{
            display: flex;
            gap: 20px;

            a{
                display: inline-block;

                img{
                    width: 24px;
                    height: 24px;
                    filter: invert(1);
                    opacity: 0.5;
                    transition: all 0.3s ease;

                    &:hover{
                        opacity: 1;
                    }
                }
            }
        }
        .submenu{
            display: flex;
            justify-content: center;
            height: 100%;
            min-height: 48px;

            a{  background: #0000;
                color: var(--whiteText);
                font-weight: 300;
                font-size: 14px;
                text-decoration: none;
                transition: all 0.3s ease;
                opacity: 0.6;
                padding: 15px 14px;
                height: inherit;

                &:hover{
                    opacity: 1;
                    background-color: var(--fontColor);
                }
            }
        }
        .subCTA{
            display: flex;
            a{
                background: #0000;
                color: var(--whiteText);
                padding: 14px 14px;
                font-weight: 500;
                font-size: 14px;
                text-decoration: none;
                transition: all 0.3s ease;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 6px;
                transition: all 0.3s ease;

                img{
                    width: 20px;
                    height: 20px;
                    filter: invert(1);
                }

                &:hover{
                    background-color: var(--fontColor);
                    color: var(--whiteText);
                }
            }

            .booknow-btn{
                background: #B7CCFF;
                color: var(--fontColor);
            }
        }
    }
    .mainHeader{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;

        .branding{
            img{
                width: 200px;
                height: auto;
                transition: width 0.3s cubic-bezier(0.42,0,0.58,1);
            }
        }
        .navigation{
            display: flex;

            a{
                text-decoration: none;
                color: var(--whiteText);
                font-weight: 500;
                font-size: 16px;
                padding: 10px 16px;
                transition: all 0.3s ease;

                &:hover{
                    color: var(--secondary-color);
                }
            }
        }
    }
}

.header.hide {
  transform: translateY(-100%);
  transition: transform 0.3s;
    background: #000b2499;
    backdrop-filter: blur(100px);

  .subHeader {
        opacity: 0;
        max-height: 0;
        pointer-events: none;
    }
  .mainHeader{
        .branding{
            img{
                width: 150px;
            }
        }
    }
}

.header.sticky {
  transform: translateY(0);
  transition: transform 0.3s;
    background: #000b2499;
    backdrop-filter: blur(100px);

   &::after{
    display: none;
   }

  /* Hide subHeader and original header in sticky mode */
    .subHeader {
        opacity: 0;
        max-height: 0;
        pointer-events: none;
    }

    .mainHeader{
        .branding{
            img{
                width: 150px;
            }
        }
    }
}



.hero{
    background: linear-gradient(var(--gradient-end), var(--gradient-start));
    height: 100svh;
    color: var(--whiteText);

    .heroWrapper{
        display: flex;
        position: relative;
        padding-top: 150px;
        

        .heroBackground{
            position: absolute;
            height: auto;
            width: 100%;
            inset: 0;
            top: 150px;
            z-index: 1;
            opacity: 0.5;

            img{
                height: auto;
                width: 100%;
            }
        }
        .heroContent{
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-block: auto;
            gap: 14px;
            position: relative;
            z-index: 2;

            .titleH1{
                font-size: 60px;
                line-height: 1.2;
                font-weight: 600;
                letter-spacing: 1px;
                background: linear-gradient(90deg, #FFFFFF, #6B97FF);
                background-clip: text;
                color: transparent;

                span{
                    font-size: 24px;
                    font-weight: 400;
                    line-height: 1.2;
                    color: var(--whiteText);
                }
            }
            .descriptionText{
                font-size: 16px;
                font-weight: 300;
                color: #C0E6FF;
                opacity: 0.8;

                span{
                    color: var(--whiteText);
                }

            }
            .satisfiedCustomer{
                    display: flex;
                    gap: 16px;
                    align-items: center;
                    padding: 14px;
                    padding-right: 20px;
                    background: linear-gradient(90deg, #72E4C6 -50%, #002276 70%);
                    border-radius: 9in;
                    margin-block: 24px;

                .imgStack{
                    display: flex;
                    align-items: center;

                    img{
                        width: 30px;
                        height: 30px;
                        border-radius: 9in;
                        margin-left: -10px;

                        &:first-child{
                            margin-left: 0;
                        }
                    }
                }
            }
        }

        .heroimg{
                position: relative;
                z-index: 2;
            img{
                width: auto;
                height: calc(100svh - 150px);
            }
        }
    }

}

.recordCounters{
    padding-block: 50px;

    .recordWrapper{
        display: flex;
        gap: 40px;
        justify-content: space-between;
        align-items: center;

        .sectionTitle{
            .titleH2{
                font-size: 30px;
                font-weight: 300;
                line-height: 1.2;
            }
        }
        .achievement{
            display: flex;
            flex-direction: column;
            gap: 10px;
            justify-content: center;

            .counter{
                font-size: 40px;
                font-weight: 600;
                line-height: 1.2;
                color: var(--primary-color);
                text-align: center;
            }
            .achievementText{
                font-size: 20px;
                font-weight: 300;
                text-align: center;
            }
        }
    }
}

.advantages{
    position: relative;
    background: url('assets/imgs/advantage-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px 0;

    .advatageWrapper{
        display: flex;
        flex-direction: column;
        gap: 40px;

        .sectionTitle{
            .titleH2{
                font-size: 46px;
                font-weight: 300;
                line-height: 1.2;
                color: var(--primary-color);
            }
        }

        .advantagesCards {
            position: relative;
            margin: 0 auto;
            display: flex;
            align-items: center;
            width: 100%;

                .card-track {
                display: flex;
                transition: transform 0.5s cubic-bezier(.5,.01,0,1);
                will-change: transform;
            
                .card {
                    width: 420px;
                    background: var(--primaryAccent);
                    margin-right: 20px;
                    display: flex;
                    flex-direction: column;
                    padding: 50px;
                    gap: 36px;
                    border-radius: 24px;
                    box-shadow: 0 4px 20px #0001;
                    transition: all 0.3s ease;

                    .cardIcon{
                            color: var(--primary-color);
                            background: transparent;
                            border: 1px solid var(--primary-color);
                            border-radius: 10px;
                            width: fit-content;
                            padding: 6px;
                            aspect-ratio: 1;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            transition: all 0.3s ease;
                            margin-left: auto;               
                    }

                    .cardImage{
                        min-height: 200px;
                        width: 100%;
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: 100% 100%;
                        transition: all 0.3s ease;
                        border-radius: 6px;
                    }
                    .cardDetails{
                    display: flex;
                    flex-direction: column;
                    gap: 24px;

                        .cardTitle{
                            font-size: 36px;
                            font-weight: 300;
                            line-height: 1.2;
                            color: var(--fontColor);
                            transition: all 0.3s ease;                    
                        }

                        .cardText{
                            font-size: 16px;
                            font-weight: 300;
                            line-height: 1.5;
                            color: var(--fontColor);
                            transition: all 0.3s ease;                    
                        }
                    }
                    &:hover{
                            background: var(--primary-color); color: var(--whiteText);
                    }

                    &:hover .cardIcon{
                        background: var(--primary-color);
                        color: var(--whiteText);
                        border: 1px solid var(--whiteText);
                    }

                    &:hover .cardTitle{
                        color: var(--whiteText);
                    }
                    &:hover .cardImage{
                        background-size: 110% 110%;
                    }

                    &:hover .cardText{
                        color: var(--whiteText);
                    }
        
                    .card:last-child {
                    margin-right: 0;
                    }

                    

                    
                }
            }

            .card-arrow {
                position: absolute;
                height: 50px;
                width: 50px;
                top: -90px;
                right: 0%;
                z-index: 2;
                background: transparent;
                border: none;
                border-radius: 9in;
                border: 1px solid var(--primary-color);
                cursor: pointer;
                opacity: 1;
                transition: all 0.4s ease;
                padding: 0;

                &:hover {
                    background: var(--primary-color);

                    img {
                        filter: invert(1);
                    }
                }
            }

            .card-arrow.left {
                right: 60px;
                padding-right: 4px;
            }

            .card-arrow.right {
                padding-left: 4px;
            }

        }
    }
}

.process{
    position: relative;
    width: 100vw;

    .processWrapper{
        display: flex;
        flex-direction: column;
        gap: 40px;
        position: relative;

        .sectionTitle{
            position: sticky;
            top: 25vh;
            height: 50vh;

            .titleH2{
                font-size: 46px;
                font-weight: 300;
                line-height: 1.2;
                color: var(--primary-color);
            }
        }
        .processCard{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            position: sticky;
            top: 40vh;
            height: 50vh;
            align-items: center;

            .firstCard{
                grid-area: 1 / 1 / 2 / 2;
            }
            .secondCard{
                grid-area: 1 / 2 / 2 / 3;
            }
            .thirdCard{
                grid-area: 1 / 3 / 2 / 4;
            }
            .fourthCard{
                grid-area: 1 / 4 / 2 / 5;
            }

            .card{
                display: flex;
                /* width: 400px; */
                flex-direction: column;
                transition: all 0.3s ease;
                gap: 36px;
                padding-right: 100px;
                transition: all 0.3s ease;
                /* opacity: 0.2; */

                .cardIcon{
                    color: var(--primary-color);
                    background: transparent;
                    border: 1px solid var(--primary-color);
                    border-radius: 9in;
                    width: fit-content;
                    padding: 6px;
                    aspect-ratio: 1;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: all 0.3s ease;   
                    
                    &.fade-in {
                        opacity: 1;
                        transition: opacity 0.4s;
                    }
                }

                .cardDetails{
                    display: flex;
                    flex-direction: column;
                    gap: 18px;

                    .cardTitle{
                        font-size: 24px;
                        font-weight: 400;
                        line-height: 1.2;
                        color: var(--primary-color);
                        transition: all 0.3s ease;                    
                    }

                    .cardText{
                        font-size: 16px;
                        font-weight: 300;
                        line-height: 1.5;
                        color: var(--fontColor);
                        transition: all 0.3s ease;                    
                    }
                }
                }
        }
        .cardProcess{
            background: var(--primary-color);
            width: 64px;
            height: 64px;
            border-radius: 9in;
            display: flex;
            align-items: center;
            justify-content: center;
            
            position: sticky;
            top: 40vh;
            left: 0; 
            transition: all 0.4s cubic-bezier(.42,0,.58,1);
            z-index: 10;
            pointer-events: none;
        }
    }
}

.services{
    padding-block: 100px;
    background: url('assets/imgs/service-bg.png');

    .servicesWrapper{
        display: flex;
        flex-direction: column;
        gap: 40px;

        .sectionTitle{
            display : flex;
            flex-direction: column;
            gap: 12px;

            .titleH2{
                font-size: 46px;
                font-weight: 300;
                line-height: 1.2;
                color: var(--primary-color);
            }

            .subtext{
                font-size: 24px;
                font-weight: 300;
                line-height: 1.5;
                color: var(--fontColor);
                span{
                    color: var(--primary-color);
                }
            }
        }

        .servicesCards{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 30px;

            .serviceCard{
                padding: 32px;
                border-radius: 16px;
                display: flex;
                flex-direction: column;
                min-height: 250px;
                transform: translateY(0);
                box-shadow: 0 4px 20px #0000;
                transition: all 0.3s ease;

                a{
                    margin-top: auto;
                }

                &:hover{
                    transform: translateY(-4px);
                    box-shadow: 0 4px 20px #0001;
                }
                
            }

            .whiteCard{
                background: linear-gradient(#FFFFFF,#E9EFFF);
                border: 1px solid #DCDCDC;
                
                
                .serviceTitle{
                    font-size: 24px;
                    font-weight: 600;
                    line-height: 1.2;
                    color: var(--primary-color);
                }
                ul li{
                    padding-block: 6px;
                    list-style-image: url('assets/svgs/blue-list.svg');
                }

                .primarybtn{
                    background: transparent;
                    color: var(--primary-color);
                    padding: 10px 16px;
                    border: none;
                    border-radius: 9in;
                    font-size: 16px;
                    font-weight: 300;
                    cursor: pointer;
                    border: 1px solid var(--primary-color);
                    transition: all 0.3s ease;
                    margin-left: auto;
                    text-decoration: none;

                    &:hover{
                        background: var(--fontColor);
                        color: var(--whiteText);
                    }
                }
            }

            .blueCard{
                background: linear-gradient(225deg,#4E83FF,#275BD5);
                color: var(--whiteText);
                
                .serviceTitle{
                    font-size: 24px;
                    font-weight: 600;
                    line-height: 1.2;
                    color: var(--whiteText);
                }
                
                ul li{
                    padding-block: 6px;
                    list-style-image: url('assets/svgs/white-list.svg');
                }
                .primarybtn{
                    background: transparent;
                    color: var(--whiteText);
                    padding: 10px 16px;
                    border: none;
                    border-radius: 9in;
                    font-size: 16px;
                    font-weight: 300;
                    cursor: pointer;
                    border: 1px solid var(--whiteText);
                    transition: all 0.3s ease;
                    margin-left: auto;
                    text-decoration: none;

                    &:hover{
                        background: var(--fontColor);
                        color: var(--whiteText);
                    }
                }
            }
        }
    }
}

.Testimonials{
    position: relative;
    padding: 100px 0;

    .TestimonialWrapper{
        display: flex;
        flex-direction: column;
        gap: 40px;

        .sectionTitle{
            .titleH2{
                font-size: 46px;
                font-weight: 300;
                line-height: 1.2;
                color: var(--primary-color);
            }

            .subtext{
                font-size: 24px;
                font-weight: 300;
                line-height: 1.5;
                color: var(--fontColor);
                
            }
        }
        .TestimonialCards{
            position: relative;
            margin: 0 auto;
            display: flex;
            align-items: center;
            width: 100%;
            
            .Testimonialtrack{
                display: flex;
                transition: transform 0.5s cubic-bezier(.5,.01,0,1);
                will-change: transform;
                gap: 20px;

                .Testimonialgroup{
                    display: flex;
                    flex-direction: column;
                    min-width: 520px;
                    gap: 20px;
                    
                    .Testimonial{
                        background: #F8F8F8;
                        border: 1px solid #EFF0F6;
                        padding: 40px;
                        height: 100%;
                        border-radius: 20px;
                        display: flex;
                        flex-direction: column;
                        gap: 24px;

                        .TestimonialImage{
                            min-height: 300px;
                            width: 100%;
                            background-repeat: no-repeat;
                            background-position: center;
                            background-size: cover;
                            border-radius: 6px;
                            margin-bottom: 24px;
                            transition: all 0.3s ease;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            img{
                                padding: 16px;
                                background: #00000055;
                                border-radius: 9px;
                                transition: all 0.3s ease;
                            }
                        }

                        .TestimonialDetails{
                            display: flex;
                            flex-direction: column;
                            gap: 16px;

                            .TestimonialTitle{
                                font-size: 24px;
                                font-weight: 700;
                                line-height: 1.2;
                                color: var(--fontColor);
                            }
                        }

                        .customerData{
                            display: flex;
                            align-items: center;

                            img{
                                width: 50px;
                                height: 50px;
                                border-radius: 9in;
                                margin-right: 16px;
                            }

                            .customerName{
                                font-size: 18px;
                                font-weight: 600;
                                color: var(--fontColor);
                            }
                        }
                    }

                    .videoTestimonial{
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: center;

                        .TestimonialDetails{
                            text-align: center;
                            height: 100%;
                            justify-content: space-between;
                        }
                    }
                    &:hover .TestimonialImage img{
                        background: var(--primary-color);
                    }
                }
            }

            .Testimonial-arrow {
                position: absolute;
                height: 50px;
                width: 50px;
                top: -90px;
                right: 0%;
                z-index: 2;
                background: transparent;
                border: none;
                border-radius: 9in;
                border: 1px solid var(--primary-color);
                cursor: pointer;
                opacity: 1;
                transition: all 0.4s ease;
                padding: 0;

                &:hover {
                    background: var(--primary-color);

                    img {
                        filter: invert(1);
                    }
                }
            }

            .Testimonial-arrow.left {
                right: 60px;
                padding-right: 4px;
            }

            .card-arrow.right {
                padding-left: 4px;
            }
        }
        
    }
}
